.banner{
    background: var(--cor-azul-gradient);
    color: var(--cor-amarelo-titulo);
    text-align: center;
    padding-bottom: 1em;

}

.banner__texto{
    font-weight: 500;
    margin: 1em;
}
.banner__titulo{
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 ;
}

.banner__pesquisa{
    background-color: var(--cor-amarelo-titulo);
    background-image: url("../img/Lupa.svg");
    background-position: initial;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: var(--cor-azul-gradient);
    border-radius: 25px;
    font-size: 1em;
    text-align: center;
    
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 11px;
    color:var(--branco);
    text-align: center;
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 0.5em;
}