.cabecalho__menu-burguer{
        width: 24px;
        height: 24px;
        background-image: url("../img/Menu.svg");
        display: inline-block;
        background-repeat: no-repeat;
        position: absolute;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    

}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

