.cabecalho__menu-burguer{
        width: 24px;
        height: 24px;
        background-image: url("../img/Menu.svg");
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    position: relative;
    
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao{
    display: none;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo{
    color: var(--laranja);
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cor-de-fundo);
}

.lista-menu__link{
    background: var(--prata-degrade);
}



.lista-menu__titulo,.lista-menu__item{
    padding: 1em;
    background-color: var(--azul);

}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

