.cabecalho__menu-burguer{
        width: 24px;
        height: 24px;
        background-image: url("../img/Menu.svg");
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    position: relative;
    
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    text-decoration: none;
}

.container__botao{
    display: none;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.container__titulo{
    font-family: var(--fonte-josefin);
    display: none;
}

.lista-menu__titulo{
    color: var(--laranja);
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cor-de-fundo);
}

.lista-menu__link{
    background: var(--prata-degrade);
    text-decoration: none;
    font-family: var(--fonte-poppins);
}



.lista-menu__titulo,.lista-menu__item{
    padding: 1em;
    background-color: var(--azul);

}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.opções{
    display: none;
    align-items: center;
}
@media screen and (min-width: 1024px){
    .container__titulo{
        
        display: block;
        font-family: var(--fonte-poppins);
        font-size: 30px;
        font-weight: 400;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    
/* Lista tablet*/
    .opções{
        display: flex;
        align-items: center;
        font-family: var(--fonte-josefin);
        font-size: 20px;
        font-weight: 400;
    }
    .opções__item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opções__link{
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu-burguer{
        display: none;
    }
/* Lista checada no tablet*/
     .opcoes__botao{
        display: none;

    }
    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }


}
